

/* Lesson section */

@media screen and (max-width: 768px){

  .container{
    width: 80vw;
  }

  .row{
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  
  .container{
    padding: 0;
    width: 100vw;
  }

  .row{
    row-gap: 30px;
    align-items: center;
    flex-direction: column;
  }

  .lessons .col,
  .steps .col,
  .why-us .col{
    width: 80vw;
  }

  .steps{
    margin: 3em 0 0;
  }
  
  .why-us{
    margin: 0;
    padding: 3em 0;
    background-color: rgb(34,34,34);
  }
}