
/*bonus*/

@media screen and (max-width: 1160px){
  .container{
    width: 100vw;
  }
  .steps .row{
    justify-content: center;
    row-gap: 40px;
    flex-wrap: wrap;
  }

  .steps .col{
    width: calc(100%/2);
  }
}
/*<----->*/
@media screen and (max-width: 768px){

  .container{
    width: 100%;
  }

}

@media screen and (max-width: 480px){
  
  .container{
    padding: 0;
    width: 100vw;
  }

  .row{
    row-gap: 50px;
    align-items: center;
    flex-direction: column;
  }

  .lessons .col,
  .steps .col,
  .why-us .col{
    width: 100vw;
  }

  .steps{
    margin-bottom: 0;
  }
  
  .why-us{
    margin: 0;
    padding: 3em 0;
    background-color: rgb(34,34,34);
  }
}